<!-- apps/web/templates/books/new.html.erb -->

<!-- created using form helpers -->
<h2>Add book</h2>


<!-- 
We’ve added <label> tags for our form fields, and wrapped each field in a container <div> using Hanami’s HTML builder helper.
-->
<%=
# the routes helper method that is available in our views and actions to access
# route-specific helper methods:

#the :book symbol contains the values that will be passed in the params.
  form_for :book, routes.books_path do # routes.books_path = '/books'
    div class: 'input' do
      label      :title
      text_field :title
    end

    div class: 'input' do
      label      :author
      text_field :author
    end

    div class: 'controls' do
      submit 'Create Book'
    end
  end
%>



<% unless params.valid? %>
  <div class="errors">
    <h3>There was a problem with your submission</h3>
    <ul>
      <% params.error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>