<!-- apps/web/templates/books/new.html.erb -->

<!-- created using form helpers -->
<h2>Add book</h2>


<!-- 
We’ve added <label> tags for our form fields, and wrapped each field in a container <div> using Hanami’s HTML builder helper.
-->
<%=
  form_for :book, '/books' do
    div class: 'input' do
      label      :title
      text_field :title
    end

    div class: 'input' do
      label      :author
      text_field :author
    end

    div class: 'controls' do
      submit 'Create Book'
    end
  end
%>