<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
  </head>
  <body>
  <h1>Bookshelf</h1>
  <!-- Where the content of our regular template goes -->
  <a href="/books">See the books already added! </a>
    <%= yield %>
  </body>
</html>
